-# app/views/weeks/new.html.haml
%h1 week edited by #{@current_user.user_first_name} #{@current_user.user_last_name}

= form_tag weeks_path, :method => 'post' do
  %h2 Manager:
  %fieldset
    %h2 Monday 
    %fieldset
      =label :week, :monday_first_manager, '12:00 am - 8:00 am'
      =select(:week, :monday_first_manager, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :monday_second_manager, '8:00 am - 4:00 pm'
      =select(:week, :monday_second_manager, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :monday_third_manager, '4:00 pm - 12:00 am'
      =select(:week, :monday_third_manager, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
    
    
    %h2 Tuesday
    %fieldset
      =label :week, :tuesday_first_manager, '12:00 am - 8:00 am'
      =select(:week, :tuesday_first_manager, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :tuesday_second_manager, '8:00 am - 4:00 pm'
      =select(:week, :tuesday_second_manager, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :tuesday_third_manager, '4:00 pm - 12:00 am'
      =select(:week, :tuesday_third_manager, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
    %h2 Wednesday
    %fieldset
      =label :week, :wednesday_first_manager, '12:00 am - 8:00 am'
      =select(:week, :wednesday_first_manager, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :wednesday_second_manager, '8:00 am - 4:00 pm'
      =select(:week, :wednesday_second_manager, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :wednesday_third_manager, '4:00 pm - 12:00 am'
      =select(:week, :wednesday_third_manager, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
    %h2 Thursday
    %fieldset
      =label :week, :thursday_first_manager, '12:00 am - 8:00 am'
      =select(:week, :thursday_first_manager, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :thursday_second_manager, '8:00 am - 4:00 pm'
      =select(:week, :thursday_second_manager, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))

      =label :week, :thursday_third_manager, '4:00 pm - 12:00 am'
      =select(:week, :thursday_third_manager, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
    %h2 Friday
    %fieldset
      =label :week, :friday_first_manager, '12:00 am - 8:00 am'
      =select(:week, :friday_first_manager, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :friday_second_manager, '8:00 am - 4:00 pm'
      =select(:week, :friday_second_manager, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :friday_third_manager, '4:00 pm - 12:00 am'
      =select(:week, :friday_third_manager, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
    %h2 Saturday
    %fieldset
      =label :week, :saturday_first_manager, '12:00 am - 8:00 am'
      =select(:week, :saturday_first_manager, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :saturday_second_manager, '8:00 am - 4:00 pm'
      =select(:week, :saturday_second_manager, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :saturday_third_manager, '4:00 pm - 12:00 am'
      =select(:week, :saturday_third_manager, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
    %h2 Sunday
    %fieldset
      =label :week, :sunday_first_manager, '12:00 am - 8:00 am'
      =select(:week, :sunday_first_manager, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :sunday_second_manager, '8:00 am - 4:00 pm'
      =select(:week, :sunday_second_manager, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :sunday_third_manager, '4:00 pm - 12:00 am'
      =select(:week, :sunday_third_manager, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
  %h2 Employees:
  %fieldset
    %h2 Monday 
    %fieldset
      =label :week, :monday_first_employee, '12:00 am - 8:00 am'
      =select(:week, :monday_first_employee, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :monday_second_employee, '8:00 am - 4:00 pm'
      =select(:week, :monday_second_employee, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :monday_third_employee, '4:00 pm - 12:00 am'
      =select(:week, :monday_third_employee, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
    
    
    %h2 Tuesday
    %fieldset
      =label :week, :tuesday_first_employee, '12:00 am - 8:00 am'
      =select(:week, :tuesday_first_employee, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :tuesday_second_employee, '8:00 am - 4:00 pm'
      =select(:week, :tuesday_second_employee, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :tuesday_third_employee, '4:00 pm - 12:00 am'
      =select(:week, :tuesday_third_employee, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
    %h2 Wednesday
    %fieldset
      =label :week, :wednesday_first_employee, '12:00 am - 8:00 am'
      =select(:week, :wednesday_first_employee, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :wednesday_second_employee, '8:00 am - 4:00 pm'
      =select(:week, :wednesday_second_employee, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :wednesday_third_employee, '4:00 pm - 12:00 am'
      =select(:week, :wednesday_third_employee, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
    %h2 Thursday
    %fieldset
      =label :week, :thursday_first_employee, '12:00 am - 8:00 am'
      =select(:week, :thursday_first_employee, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :thursday_second_employee, '8:00 am - 4:00 pm'
      =select(:week, :thursday_second_employee, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))

      =label :week, :thursday_third_employee, '4:00 pm - 12:00 am'
      =select(:week, :thursday_third_employee, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
    %h2 Friday
    %fieldset
      =label :week, :friday_first_employee, '12:00 am - 8:00 am'
      =select(:week, :friday_first_employee, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :friday_second_employee, '8:00 am - 4:00 pm'
      =select(:week, :friday_second_employee, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :friday_third_employee, '4:00 pm - 12:00 am'
      =select(:week, :friday_third_employee, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
    %h2 Saturday
    %fieldset
      =label :week, :saturday_first_employee, '12:00 am - 8:00 am'
      =select(:week, :saturday_first_employee, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :saturday_second_employee, '8:00 am - 4:00 pm'
      =select(:week, :saturday_second_employee, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :saturday_third_employee, '4:00 pm - 12:00 am'
      =select(:week, :saturday_third_employee, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
    %h2 Sunday
    %fieldset
      =label :week, :sunday_first_employee, '12:00 am - 8:00 am'
      =select(:week, :sunday_first_employee, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :sunday_second_employee, '8:00 am - 4:00 pm'
      =select(:week, :sunday_second_employee, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
      =label :week, :sunday_third_employee, '4:00 pm - 12:00 am'
      =select(:week, :sunday_third_employee, options_for_select([["employee 1", "1"], ["employee 2", "2"]]))
      
  %div= submit_tag 'Save'
  
-#= link_to 'Save and Return', user_path(@current_user)
