-# app/views/sessions/show_administrator.html.haml

%h2 What would you like to do #{@user.first_name}

-# need to change this to the correct route
= link_to 'Manage User Accounts', administrator_user_path