-# app/views/sessions/show_administrator.html.haml

%h1 You are loged in as #{@user.user_first_name} #{@user.user_last_name}

= link_to 'Manage User Accounts', administrator_user_path
= button_to 'Log Out', logout_path, :method => 'delete'