-# app/views/sessions/show_employee.html.haml

%h2 What would you like to do #{@user.first_name}

-# need to change this to the correct route
= link_to 'View Employee Contact Information', employee_users_path