-# app/views/availability/new.html.haml
%h1 #{@current_user.user_first_name} #{@current_user.user_last_name}'s Weekly Availability

= form_tag availabilities_path, :method => 'post' do
  %h2 Monday
  %fieldset
    =label :availability, :monday_first, '12:00 am - 8:00 am'
    =check_box :availability, 'monday_first'
    
    =label :availability, :monday_second, '8:00 am - 4:00 pm'
    =check_box :availability, 'monday_second'
    
    =label :availability, :monday_third, '4:00 pm - 12:00 am'
    =check_box :availability, 'monday_third'
  
  
  %h2 Tuesday
  %fieldset
    =label :availability, :tuesday_first, '12:00 am - 8:00 am'
    =check_box :availability, 'tuesday_first'
    
    =label :availability, :tuesday_second, '8:00 am - 4:00 pm'
    =check_box :availability, 'tuesday_second'
    
    =label :availability, :tuesday_third, '4:00 pm - 12:00 am'
    =check_box :availability, 'tuesday_third'
    
  %h2 Wednesday
  %fieldset
    =label :availability, :wednesday_first, '12:00 am - 8:00 am'
    =check_box :availability, 'wednesday_first'
    
    =label :availability, :wednesday_second, '8:00 am - 4:00 pm'
    =check_box :availability, 'wednesday_second'
    
    =label :availability, :wednesday_third, '4:00 pm - 12:00 am'
    =check_box :availability, 'wednesday_third'
    
  %h2 Thursday
  %fieldset
    =label :availability, :thursday_first, '12:00 am - 8:00 am'
    =check_box :availability, 'thursday_first'
    
    =label :availability, :thursday_second, '8:00 am - 4:00 pm'
    =check_box :availability, 'thursday_second'
    
    =label :availability, :thursday_third, '4:00 pm - 12:00 am'
    =check_box :availability, 'thursday_third'
    
  %h2 Friday
  %fieldset
    =label :availability, :friday_first, '12:00 am - 8:00 am'
    =check_box :availability, 'friday_first'
    
    =label :availability, :friday_second, '8:00 am - 4:00 pm'
    =check_box :availability, 'friday_second'
    
    =label :availability, :friday_third, '4:00 pm - 12:00 am'
    =check_box :availability, 'friday_third'
    
  %h2 Saturday
  %fieldset
    =label :availability, :saturday_first, '12:00 am - 8:00 am'
    =check_box :availability, 'saturday_first'
    
    =label :availability, :saturday_second, '8:00 am - 4:00 pm'
    =check_box :availability, 'saturday_second'
    
    =label :availability, :saturday_third, '4:00 pm - 12:00 am'
    =check_box :availability, 'saturday_third'
    
  %h2 Sunday
  %fieldset
    =label :availability, :sunday_first, '12:00 am - 8:00 am'
    =check_box :availability, 'sunday_first'
    
    =label :availability, :sunday_second, '8:00 am - 4:00 pm'
    =check_box :availability, 'sunday_second'
    
    =label :availability, :sunday_third, '4:00 pm - 12:00 am'
    =check_box :availability, 'sunday_third'
    
  %div= submit_tag 'Save'
  
-#= link_to 'Save and Return', user_path(@current_user)