-# app/views/availability/new.html.haml
%h1 #{@current_user.user_first_name} #{@current_user.user_last_name}'s Weekly Availability

= form_tag availabilities_path, :method => :post do
  %h2 Monday
  %fieldset
    %span.checkbox-wrapper
      %input{ :type=>"checkbox",:id => "monday_first_checkbox" }
    %label 9:00 AM to 12:00 AM
   
    %input{ :type=>"checkbox", :id => "monday_second_checkbox" }
    %label 12:00 AM to 3:00 PM
    
    %input{ :type=>"checkbox",:id => "monday_third_checkbox" }
    %label 3:00 PM to 6:00 PM
  
  
  %h2 Tuesday
  %fieldset
    %span.checkbox-wrapper
      %input{ :type=>"checkbox", :id => "tuesday_first_checkbox" }
    %label 9:00 AM to 12:00 AM
    
    %input{ :type=>"checkbox", :id => "tuesday_second_checkbox" }
    %label 12:00 AM to 3:00 PM
    
    %input{ :type=>"checkbox",:id => "tuesday_third_checkbox" }
    %label 3:00 PM to 6:00 PM
    
  %h2 Wednesday
  %fieldset
    %span.checkbox-wrapper
      %input{ :type=>"checkbox", :id => "wednesday_first_checkbox" }
    %label 9:00 AM to 12:00 AM
    
    %input{ :type=>"checkbox",:id => "wednesday_second_checkbox" }
    %label 12:00 AM to 3:00 PM
    
    %input{ :type=>"checkbox",:id => "wednesday_third_checkbox" }
    %label 3:00 PM to 6:00 PM
    
  %h2 Thursday
  %fieldset
    %span.checkbox-wrapper
      %input{ :type=>"checkbox",:id => "tursday_first_checkbox" }
    %label 9:00 AM to 12:00 AM
    
    %input{ :type=>"checkbox",:id => "tursday_second_checkbox" }
    %label 12:00 AM to 3:00 PM
    
    %input{ :type=>"checkbox",:id => "tursday_third_checkbox" }
    %label 3:00 PM to 6:00 PM
    
  %h2 Friday
  %fieldset
    %span.checkbox-wrapper
      %input{ :type=>"checkbox",:id => "friday_first_checkbox" }
    %label 9:00 AM to 12:00 AM
    
    %input{ :type=>"checkbox", :id => "friday_second_checkbox" }
    %label 12:00 AM to 3:00 PM
    
    %input{ :type=>"checkbox", :id => "friday_third_checkbox"}
    %label 3:00 PM to 6:00 PM
    
  %h2 Saturday
  %fieldset
    %span.checkbox-wrapper
      %input{ :type=>"checkbox", :id => "saturday_first_checkbox" }
    %label 9:00 AM to 12:00 AM
    
    %input{ :type=>"checkbox", :id => "saturday_second_checkbox" }
    %label 12:00 AM to 3:00 PM
    
    %input{ :type=>"checkbox", :id => "saturday_third_checkbox" }
    %label 3:00 PM to 6:00 PM
    
  %h2 Sunday
  %fieldset
    %span.checkbox-wrapper
      %input{ :type=>"checkbox", :id => "sunday_first_checkbox" }
    %label 9:00 AM to 12:00 AM
    
    %input{ :type=>"checkbox", :id => "sunday_second_checkbox" }
    %label 12:00 AM to 3:00 PM
    
    %input{ :type=>"checkbox", :id => "sunday_third_checkbox" }
    %label 3:00 PM to 6:00 PM
    
  %div= submit_tag 'Save'
  
-#= link_to 'Save and Return', user_path(@current_user)