-# app/views/availabilities/show.html.haml

%h1 #{@current_user.user_first_name} #{@current_user.user_last_name}'s Availability

%ul#details
  %li
    :plain
        Day         Shift   Available
        Monday      1       =@current_user.availabilities.monday_first
        Monday      2       =@current_user.availabilities.monday_second
        Monday      3       =@current_user.availabilities.monday_third
        
        Tuesday      1       =@current_user.availabilities.tuesday_first
        Tuesday      2       =@current_user.availabilities.tuesday_second
        Tuesday      3       =@current_user.availabilities.tuesday_third_

        Wednesday      1       =@current_user.availabilities.wednesday_first
        Wednesday      2       =@current_user.availabilities.wednesday_second
        Wednesday      3       =@current_user.availabilities.wednesday_third

        Thursday      1       =@current_user.availabilities.tursday_first
        Thursday      2       =@current_user.availabilities.tursday_second
        Thursday      3       =@current_user.availabilities.tursday_third

        Friday      1       =@current_user.availabilities.friday_first
        Friday      2       =@current_user.availabilities.friday_second
        Friday      3       =@current_user.availabilities.friday_third

        Saturday      1       =@current_user.availabilities.saturday_first
        Saturday      2       =@current_user.availabilities.saturday_second
        Saturday      3       =@current_user.availabilities.saturday_third

        Sunday      1       =@current_user.availabilities.sunday_first
        Sunday      2       =@current_user.availabilities.sunday_second
        Sunday      3       =@current_user.availabilities.sunday_third



%div= link_to 'Cancel', employee_user_path
